<div class="acb">
    <div class="acb-content">
        <h2 class="acb-text">  </h2>
    </div>
</div>

{% schema %}
{
    "name": "Announcement Bar",
    "settings": [
        
    ],

    "presets": [
        {
            "name":""
        }
    ]
}
{% endschema %}