{{ 'collecion-banner.scss.css' | asset_url | stylesheet_tag }}

<div class="collection-hero">
    {%- liquid 
        if collection.image 
            render 'image-as-background', imageUrl: collection.image, className: 'collection-hero-image'
        else 
            render 'image-as-background', isAsset: true, imageUrl: 'collection-image-2.jpg', className: 'collection-hero-image' 
        endif 
    %}

    <div class="collection-info">
        <h2 class="title"> {{ collection.title | escape }}  </h2>
        {% if collection.description %}
            <div class="collection-desc">
                {{ collection.description }}
            </div>
        {% endif %}
    </div>
</div>

{% schema %}
{
    "name": "Collection banner"
}
{% endschema %}